dconf/
go/
Vencord/
gtk-3.0/
gtk-4.0/
htop/
kde.org/
obsidian/
pulse/
session/
systemd/
xdg-desktop-portal/
yay/
obs-studio/
audacity/
qBittorrent/
bpytop/
menus/
chromium/
lazygit/
libvirt/
gnome-boxes/
asm-lsp/
glib-2.0/
procps/
doom/
emacs/
nextjs-nodejs/
hut/
streamrip/
mpd/
glow/
cava/
Proton/
GIMP/
unity3d/
vlc/

QtProject.conf
dolphinrc
kiorc
mimeapps.list
baloofileinformationrc
user-dirs.dirs
user-dirs.locale
filetypesrc
katevirc
kdeglobals
kile-livepreview-okularpartrc
kilerc
elisarc
